/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*!
 * Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("webfonts/fa-brands-400.eot");
  src: url("webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("webfonts/fa-brands-400.woff2") format("woff2"), url("webfonts/fa-brands-400.woff") format("woff"), url("webfonts/fa-brands-400.ttf") format("truetype"), url("webfonts/fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }

/*!
 * Font Awesome Free 5.15.3 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("webfonts/fa-solid-900.eot");
  src: url("webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("webfonts/fa-solid-900.woff2") format("woff2"), url("webfonts/fa-solid-900.woff") format("woff"), url("webfonts/fa-solid-900.ttf") format("truetype"), url("webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

/* start my css */
body, *{
    font-family: "微軟正黑體", sans-serif;
    font-weight: normal;
    font-size: 16px;
    box-sizing: border-box;
    color: #666;
}
a{
    text-decoration: none;
}
a:hover{
    color: #000;
}
body.open_popup .pagecover{
    display: block;
}
.container{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.error{
    display: block;
    font-size: 12px;
    color: red;
    text-align: left;
    padding-bottom: 10px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: #eee;
    background-color: #0f506d;
    box-shadow: 0px 2px 8px 0px rgba(87, 72, 72, 0.3);
}
.logo{
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.logo:hover{
    color: #eee;
}
.header_function{
    line-height: 25px;
    color: #eee;
    display: flex;
    flex-direction: row-reverse;
}
.header_function a{
    font-size: 15px;
    margin: 0 5px 0 10px;
    text-decoration: none;
    color: #eee;
}
.header_function i{
    font-size: 16px;
    color: #fff;
}

/* cnt */
.mainCnt{
    padding-top: 54px;
    background: url(images/sidebar-bg.jpg);
}
.search_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(images/home-bg1.png) no-repeat center bottom / 100% auto;
    padding: 120px 0 180px 0;
}
.logo_txt{
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 28px;
}
.header_txt{
    color: #fff;
    margin: 10px 0 50px 0;
}
.header_link{
    float: right;
}
.search_inner{
    display: flex;
    background-color: #fff;
    border-radius: 6px;
}
.search_inner input{
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    border: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.search_inner button{
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    width: 50px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.search_inner i{
    font-size: 20px;
    color: #666;
    line-height: 31px;
}

.filter_wrap{
    padding: 10px;
    background-color: rgba(46,100,136,.7);
}
.filter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter ul{
    width: calc(100% - 100px);
    display: flex;
    position: relative;
}
.filter ul li{
    width: calc(100% / 4);
    padding: 0 5px;
}
.filter ul li p{
    cursor: pointer;
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: rgba(46,100,136,.6);
}
.filter ul li p:hover{
    background-color: rgba(46,100,136,.9);
}
.filter ul li .submenu{
    display: none;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 5px;
    width: calc(100% - 10px);
    padding: 30px 20px;
    background-color: rgba(46,100,136);
    flex-wrap: wrap;
}
.filter ul li:hover p{
    background-color: rgba(46,100,136,.9);
}
.filter ul li:hover .submenu{
    display: flex;
}
.filter_item input{
    display: none;
}
.filter_item span{
    cursor: pointer;
    display: block;
    text-align: center;
    min-width: 88px;
    padding: 0 20px;
    line-height: 30px;
    background-color: #efefef;
    color: #bcbcbc;
    margin: 0 5px 10px 5px;
}
.filter_item input:checked+span, .filter_item span:hover{
    color: rgb(20, 161, 180);
    background-color: #fff;
    font-weight: bold;
}
.btn_filter{
    cursor: pointer;
    width: 90px;
    margin-left: 20px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background-color: rgba(46,100,136,.6);
    box-shadow: 0px 2px 4px 0px rgb(87 72 72);
    border: 1px solid transparent;
    border-radius: 6px;
}
.btn_filter:hover{
    color: #fff;
    background-color: rgba(46,100,136,.9);
}
.sort_wrap{
    text-align: right;
}
.sort{
    width: 150px;
    height: 34px;
    padding: 3px;
    line-height: 26px;
    margin: 15px 20px 25px;
    border-radius: 6px;
    background-color: #fff;
}

.pdlist_wrap{
    display: flex;
    align-items: flex-start;
}
.map_wrap{
    width: 60%;
    height: 600px;
} 
.pdlist{
    height: 600px;
    overflow-y: auto;
    padding-left: 20px;
    width: 40%;
}
.pdbox{
    position: relative;
    display: flex;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.pdbox img{
    width: 150px;
}
.pdbox_info{
    width: calc(100% - 150px);
    padding-left: 10px;
}
.pdbox_info .title{
    color: #333;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5em;
}
.pdbox_info .title:hover{
    color: blue;
    text-decoration: underline;
}
.pdbox_info p{
    position: relative;
    font-size: 13px;
    line-height: 1.2;
    padding-left: 30px;
    margin-top: 10px;
    padding-left: 30px;
}
.pdbox_info i{
    position: absolute;
    left: 0;
    margin-right: 10px;
    width: 20px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}
.pdbox_price{
    position: absolute;
    top: 1px;
    left: 30px;
    width: 120px;
    text-align: right;
    padding: 2px 5px;
    background: linear-gradient(to right, rgba(0,0,0,0),rgba(200,41,63,0.3) 35%,rgba(200,41,63,0.7) 45%,#c8293f);
}
.pdbox_price p:nth-child(1){
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0 10px;
}
.pdbox_price p:nth-child(2){
    font-size: 13px;
    color: #ddd;
    margin-bottom: 5px;
}
.pagination{
    padding: 10px 0;
    text-align: center;
}
.pagination button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 15px;
    margin: 0 3px;
}
.pagination button.active, .pagination button:hover{
    font-weight: bold;
    text-decoration: underline;
    background-color: #0f506d;
    color: #fff;
}
.mark{
    position: relative;
    width: 20px;
    height: 20px;
}
.mark i{
    font-size: 16px;
    color: red;
}
.mark_h i{
    font-size: 16px;
    color: yellowgreen;
}
.mark >div, .mark_h >div{
    display: none;
    position: absolute;
    z-index: 2;
    color: #333;
    background-color: #fff;
    opacity: .8;
    width: 130px;
    padding: 3px;
}
.mark:hover >div, .mark_h:hover >div{
    display: block;
}
@media screen and (max-width: 1024px) {
    .search_wrap{
        padding: 80px 0 140px 0;
    }
    .pdlist_wrap{
        display: block;
    }
    .map_wrap{
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
    }
    .pdlist{
        width: 100%;
        height: auto;
        padding-left: 0;
    }

}

@media screen and (max-width: 768px) {
    .search_wrap{
        /* padding: 45px 0 80px 0; */
        background: url(images/home-bg2.png) no-repeat center bottom / 100% auto;
        padding: 100px 0 160px;
    }
    .logo_txt{
        font-size: 26px;
    }
    .header_txt{
        margin-bottom: 30px;
    }
    .pdbox{
        position: relative;
        display: flex;
        align-items: flex-start;
    }
    .pdbox img{
        width: 150px;
    }
    .pdbox_info{
        width: calc(100% - 150px);
    }
    .pdbox_info .title{
        font-size: 16px;
    }
    .pdbox_info p{
        font-size: 14px;
        margin-top: 5px;
        line-height: 1.2em;
    }

}
@media screen and (max-width: 500px) {
    .search_wrap{
        /* padding: 40px 0 85px 0; */
        /* background: url(images/home-bg1.png) no-repeat center bottom / auto auto; */
        /* background-size: cover; */
        padding: 50px 0 120px;
    }
    .logo_txt{
        font-size: 22px;
    }
}
@media screen and (max-width: 450px) {
    .container.filter{
        padding-left: 0;
        padding-right: 0;
    }
    .filter ul{
        width: calc(100% - 70px);
    }
    .filter ul i p{
        font-size: 15px;
    }
    .btn_filter{
        width: 60px;
        margin-left: 10px;
        font-size: 14px;
    }
    .filter ul li {
        padding: 0;
    }
    .filter ul li .submenu{
        left: 0;
        width: 100%;
    }
    .sort {
        margin-right: 0;
    }
    .pdlist{
        padding-left: 0;
    }
    .pdbox{
        display: block;
    }
    .pdbox img{
        width: 100%;
    }
    .pdbox_info{
        width: 100%;
    }
    .pdbox_price{
        left: auto;
        right: 0;
    }
}


/* pdcnt */
.pdcnt_top{
    padding-top: 26px;
    display: flex;
}
.pdcnt_imgs{
    position: relative;
    width: 60%;
    height: calc(696px / 8 * 6);
}
.pdcnt_imgs_inner{
    position: relative;
}
.pdcnt_imgs_inner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.pdcnt_imgs_inner img.active{
    opacity: 1;
    transition: opacity .5s ease-in;
}
.carousel_prev{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: calc((100% - 50px) / 2);
    left: 0;
    width: 30px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}
.carousel_next{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: calc((100% - 50px) / 2);
    right: 0;
    width: 30px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}
.pdcnt_info{
    padding-left: 10px;
    width: 40%;
}
.pdcnt_info >div{
    /* max-width: 450px; */
    padding: 15px 20px 15px 10px;
    border-bottom: 1px solid #eee;
}
.pdcnt_info >div.pdcnt_keeper{
    border-bottom: none;
}
.pdcnt_info h3{
    font-size: 25px;
    color: #333;
    font-weight: 700;
    padding-left: 10px;
    margin-bottom: 10px;
}
.pdcnt_price{
    display: flex;
    align-items: flex-end;
}
.pdcnt_price_total{
    display: inline-block;
    font-size: 32px;
    color: red;
}
.pdcnt_price_unit{
    display: inline-block;
    font-size: 13px;
    color: #333;
    margin-left: 5px;
    margin-right: 30px;
}
.pdcnt_layout{
    display: flex;
    justify-content: space-between;
}
.pdcnt_layout span:nth-child(1){
    display: block;
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
}
.pdcnt_layout span:nth-child(2){
    display: block;
    font-size: 13px;
}
.pdcnt_addr{
    line-height: 34px;
}
.pdcnt_addr p{
    color: #333;
}
.pdcnt_addr p span{
    display: inline-block;
    color: #666;
    width: 30%;
}
.pdcnt_keeper{
    display: flex;
    align-items: center;
}
.pdcnt_keeper >i{
    width: 90px;
    height: 90px;
    padding: 10px;
    font-size: 60px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid;
    /* width: 40px;
    height: 40px;
    font-size: 20px; */
}
.pdcnt_keeper >div{
    width: calc(100% - 90px);
    padding-left: 20px;
}
.pdcnt_keeper .name{
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}
.pdcnt_keeper .name span{
    font-size: 13px;
    color: #666;
}
.pdcnt_keeper .tel {
    display: block;
    cursor: pointer;
    width: 100%;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: rgba(46,100,136,.6);
    max-width: 300px;
}
.pdcnt_keeper .tel:hover {
    background-color: rgba(46,100,136,.9);
}
.pdcnt_keeper .tel i{
    font-size: 16px;
    color: #fff;
    margin-right: 8px;
}
.line_share{
    text-align: center;
}
.line_share i{
    color: green;
}
.pdcnt_middle{
    padding: 20px;
    margin: 30px auto;
}
.pdcnt_middle h3, .pdcnt_bottom h3{
    font-size: 22px;
    font-weight: 700;
    padding-left: 10px;
    margin-bottom: 15px;
}
.tab_nav li{
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    background-color: rgba(46,100,136,.6);
}
.tab_nav li.active, .tab_nav li:hover{
    background-color: rgba(46,100,136,.9);
}
.tab_cnt{
    display: none;
    flex-wrap: wrap;
    border: 2px solid rgba(46,100,136,.9);
    padding: 30px;
    line-height: 34px;
}
.tab_cnt.active{
    display: flex;
}
.tab_cnt p{
    width: calc(100% / 3);
    color: #333;
}

.tab_cnt p.max{
    width: 100%;
}
.tab_cnt p span, .tab_cnt p i, .tab_cnt label i{
    color: #666;
    margin-right: 10px;
}
.nearby_item span {
    margin-right: 40px;
}
.nearby_item input, .nearby_item span{
    display: none;
}
.nearby_item input:checked+span{
    display: inline-block;
}
.pdcnt_bottom{
    padding-bottom: 50px;
}
.tb_deals{
    width: 100%;
    line-height: 1.2em;
    border: 1px solid rgba(46,100,136,.9);
}
.tb_deals th{
    text-align: center;
    vertical-align: middle;
    color: #fff;
    background-color: rgba(46,100,136,.9);
    padding: 10px 5px;
}
.tb_deals td{
    padding: 10px 5px;
    width: 10%;
    text-align: center;
}
.tb_deals td:nth-child(1){
    width: 5%;
}
.tb_deals td:nth-child(3){
    width: 20%;
}
.tb_deals td:nth-child(8){
    width: 5%;
}

@media screen and (max-width: 1024px) {
    .pdcnt_imgs{
        height: calc(60vw / 8 * 6);
    }
    .pdcnt_info h3, .pdcnt_middle h3, .pdcnt_bottom h3{
        font-size: 20px;
    }
    .pdcnt_price_total {
        font-size: 28px;
    }
    .pdcnt_info >div{
        padding: 15px 10px;
    }
    .pdcnt_keeper >i{
        width: 60px;
        height: 60px;
        font-size: 40px;
    }
    .pdcnt_keeper >div {
        width: calc(100% - 60px);
        padding-left: 10px;
    }
    .tab_nav li{
        line-height: 20px;
        font-size: 16px;
    }
    .tb_deals{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .pdcnt_top{
        display: block;
    }
    .pdcnt_imgs{
        width: 100%;
        height: calc(100vw / 8 * 6);
    }
    .pdcnt_info{
        width: 100%;
        padding-left: 0;
    }
    .pdcnt_layout span:nth-child(1) {
        color: #000;
        font-size: 16px;
    }
    .tab_cnt{
        padding: 15px;
        font-size: 15px;
    }
    .tb_deals{
        border: none;
    }
    .tb_deals, .tb_deals tbody, .tb_deals tr, .tb_deals td{
        display: block;
    }
    .tb_deals thead{
        display: none;
    }
    .tb_deals tr{
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px dashed rgba(46,100,136,.6);
    }
    /* .tb_deals tr:first-child, .tb_deals tr:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: none
    } */
    .tb_deals td{
        width: 100%;
        text-align: left;
    }
    .tb_deals td:before{
        display: inline-block;
        width: 100px;
        content: attr(data-th);
    }
    .tb_deals td:nth-child(1){
        display: none;
    }
    .tb_deals td:nth-child(3), .tb_deals td:nth-child(8){
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .pdcnt_info h3, .pdcnt_middle h3, .pdcnt_bottom h3 {
        font-size: 18px;
    }
    .pdcnt_keeper .name{
        font-size: 18px;
    }
    .pdcnt_keeper .name span{
        font-size: 13px;
    }
    .tab_nav li {
        padding: 10px 12px;
    }
    .tab_cnt p{
        width: 100%;
    }
}

/* socail share */
.makeStyles-iconContainer-3 {
    text-align: center !important;
    padding-top: 0 !important;
    max-width: 300px;
}
.makeStyles-copyContainer-5{
    display: none !important;
}

/* icon */
.fa-user:before {
    content: "\f007";
}
.fa-heart:before {
    content: "\f004";
}
.fa-search:before {
    content: "\f002";
}
.fa-home:before {
    content: "\f015";
}
.fa-map-marker-alt:before {
    content: "\f3c5";
}
.fa-user-edit:before {
    content: "\f4ff";
}
.fa-user-tie:before {
    content: "\f508";
}
.fa-phone-volume:before {
    content: "\f2a0";
}
.fa-line:before {
    content: "\f3c0";
}
.fa-store:before {
    content: "\f54e";
}
.fa-shopping-bag:before {
    content: "\f290";
}
.fa-tree:before {
    content: "\f1bb";
}
.fa-school:before {
    content: "\f549";
}
.fa-utensils:before {
    content: "\f2e7";
}
.fa-chevron-left:before {
    content: "\f053";
}
.fa-chevron-right:before {
    content: "\f054";
}
.fa-hospital:before {
    content: "\f0f8";
}